gemini booking.json
{
  "name": "gemini booking",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [
        64,
        0
      ],
      "id": "a7dbd917-f596-4c6f-97b0-3a3bbb3030fb",
      "name": "Telegram Trigger",
      "webhookId": "8cca9b9a-48be-4873-827c-f3ed4e7c1f34",
      "credentials": {
        "telegramApi": {
          "id": "6VTJAMDmwGqYdTiv",
          "name": "Telegram account 237"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "=You are an AI Medical Appointment Assistant. Your job is to manage bookings through Telegram. Respond in Bengali language naturally.\n\nToday's current date and time is: {{ $now }}. Use this timestamp as the absolute baseline to calculate the next 7 days.\n\nCRITICAL RULES:\n- Working hours: 8:00 AM to 11:00 PM.\n- Appointment duration: Exactly 30 minutes (e.g., 8:00 AM, 8:30 AM, 9:00 AM).\n- Weekly Holiday: Fridays (Never offer any slots on Fridays).\n- Always communicate with the user in Bengali.\n\nSTRICT WORKFLOW STEPS:\n\n1. MAIN MENU:\nIf the user says \"hi\", \"hello\", greets you, or finishes/cancels any process, ALWAYS reply with this exact menu:\n\"Hello, Welcome to Medical Shop\nPlease choose an option:\n1, New Booking\n2, My Upcoming Bookings\n3, Reschedule Booking\n4, Cancel Booking\"\n\n2. OPTION 1: NEW BOOKING\n- Step 1: Ask the user for their Name, Age, Gender, and Mobile number. (Do not call any tool yet).\n- Step 2: Use the tool 'show patient list' to calculate all available 30-minute slots for the next 7 days (excluding Fridays, outside 8AM-11PM, and already booked times with status=\"Active\").\n- Step 3: Present these available slots to the user and ask them to pick or type a specific time.\n- Step 4: Once the user provides the time (e.g., \"21 june 10:00 am\"), you now have ALL the data (Name, Age, Gender, Mobile, and Time).\n- Step 5: IMMEDIATELY call the 'add new patient' tool and send ALL fields together: Name, Age, Gender, Mobile, Time, and set Status to \"Active\". \n- Step 6: After saving, reply: \"আপনার বুকিং কনফার্ম করা হয়েছে। ১০০০ টাকা ফি হ্যান্ড ক্যাশে দিতে হবে।\" Then show Main Menu.\n3. OPTION 2: MY UPCOMING BOOKINGS\n- Step 1: Ask for Name, Age, and Mobile number.\n- Step 2: Call 'show patient list'. Check if the details match any row where status is \"Active\".\n  - If matched, show them their booked appointment time.\n  - If not matched, say \"No booking yet.\"\n- Step 3: Whatever the user replies next, immediately reset and show the Main Menu.\n\n4. OPTION 3: RESCHEDULE BOOKING\n- Step 1: Ask for Name, Age, and Mobile number.\n- Step 2: Call 'show patient list'. If no active booking matches, say \"You haven't booked yet\" and return to Main Menu.\n- Step 3: If booking is found, calculate the available free slots for the next 7 days using the same rules (8AM-11PM, 30 mins duration, no Fridays, excluding already booked slots).\n- Step 4: Present the slots and ask for the new preferred time.\n- Step 5: Use 'Reschedule patient' tool to update the 'time' column matching by their mobile number. Confirm the update to the user.\n\n5. OPTION 4: CANCEL BOOKING\n- Step 1: Ask for Name, Age, and Mobile number.\n- Step 2: Call 'show patient list'. If matching active booking is found, display their details: Name, Age, Mobile, Gender, and Booking Time.\n- Step 3: Ask: \"Are you sure to delete this booking?\"\n- Step 4: If the user says Yes/Delete, use the 'cancel booking' tool (Update Row operation) to change the 'status' column to \"Cancelled\" for that mobile number. Say \"Your booking has been cancelled.\"\n- Step 5: If they say No or anything else, cancel the process and display the Main Menu."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        544,
        0
      ],
      "id": "84acef82-cf15-4f67-908a-9dbae771be2c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        288,
        224
      ],
      "id": "9c6b54ce-36a8-4df1-9e52-4b29e693df65",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "MRcTTPC5ot5Jtos8",
          "name": "Google Gemini(PaLM) Api account 967"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        416,
        224
      ],
      "id": "dd9a6ec7-0898-409b-816f-80843b9999f8",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1136,
        0
      ],
      "id": "675c386e-80c9-43d2-a4dc-64f65628d37c",
      "name": "Send a text message",
      "webhookId": "4d1aeedd-c7dc-4090-b7f4-271bb099ff2e",
      "credentials": {
        "telegramApi": {
          "id": "6VTJAMDmwGqYdTiv",
          "name": "Telegram account 237"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1SevIVc17TynDBiEQ0mgc301_OEeAdqSaNFeBNlezHns",
          "mode": "list",
          "cachedResultName": "gemini booking",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SevIVc17TynDBiEQ0mgc301_OEeAdqSaNFeBNlezHns/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SevIVc17TynDBiEQ0mgc301_OEeAdqSaNFeBNlezHns/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        544,
        224
      ],
      "id": "1a433794-c33e-40fc-af2b-9424b1fdc9db",
      "name": "show patient list",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QlCI2XoenCe8Y7K7",
          "name": "Google Sheets account 804"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1SevIVc17TynDBiEQ0mgc301_OEeAdqSaNFeBNlezHns",
          "mode": "list",
          "cachedResultName": "gemini booking",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SevIVc17TynDBiEQ0mgc301_OEeAdqSaNFeBNlezHns/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SevIVc17TynDBiEQ0mgc301_OEeAdqSaNFeBNlezHns/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('name', ``, 'string') }}",
            "age": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('age', ``, 'string') }}",
            "gender": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('gender', ``, 'string') }}",
            "mobile": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('mobile', ``, 'string') }}",
            "time": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('time', ``, 'string') }}",
            "status": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('status', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "age",
              "displayName": "age",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "gender",
              "displayName": "gender",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "mobile",
              "displayName": "mobile",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "time",
              "displayName": "time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        672,
        224
      ],
      "id": "8f9b18ea-dddd-4408-b159-e107b64fafc3",
      "name": "add patient",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QlCI2XoenCe8Y7K7",
          "name": "Google Sheets account 804"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1SevIVc17TynDBiEQ0mgc301_OEeAdqSaNFeBNlezHns",
          "mode": "list",
          "cachedResultName": "gemini booking",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SevIVc17TynDBiEQ0mgc301_OEeAdqSaNFeBNlezHns/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SevIVc17TynDBiEQ0mgc301_OEeAdqSaNFeBNlezHns/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "time": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('time', ``, 'string') }}",
            "mobile": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('mobile__using_to_match_', ``, 'string') }}"
          },
          "matchingColumns": [
            "mobile"
          ],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "age",
              "displayName": "age",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "gender",
              "displayName": "gender",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "mobile",
              "displayName": "mobile",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "time",
              "displayName": "time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        800,
        224
      ],
      "id": "dfde2334-35ac-4666-8aeb-3bdf339ff63e",
      "name": "Reschedule patient",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QlCI2XoenCe8Y7K7",
          "name": "Google Sheets account 804"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1SevIVc17TynDBiEQ0mgc301_OEeAdqSaNFeBNlezHns",
          "mode": "list",
          "cachedResultName": "gemini booking",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SevIVc17TynDBiEQ0mgc301_OEeAdqSaNFeBNlezHns/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SevIVc17TynDBiEQ0mgc301_OEeAdqSaNFeBNlezHns/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "Cancelled",
            "mobile": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('mobile__using_to_match_', ``, 'string') }}"
          },
          "matchingColumns": [
            "mobile"
          ],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "age",
              "displayName": "age",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "gender",
              "displayName": "gender",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "mobile",
              "displayName": "mobile",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "time",
              "displayName": "time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        928,
        224
      ],
      "id": "d07e3c29-9080-4dd1-afe0-0a0035e85889",
      "name": "cancel booking",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QlCI2XoenCe8Y7K7",
          "name": "Google Sheets account 804"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "show patient list": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "add patient": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Reschedule patient": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "cancel booking": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "06e303ab-6376-46fc-adc3-b06402d1ac57",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5f00bba974abf03cb5183d4d65f8a9645a781b04770df6a7d08284fca87d50b3"
  },
  "nodeGroups": [],
  "id": "MdWwELC05pEq2wUV",
  "tags": []
}